body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f4f6;
}

.dashboard {
  width: 900px;
  margin: auto;
  padding: 40px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 180px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form {
  display: flex;
  gap: 10px;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
}
.form {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.form input,
.form select,
.form button {
  padding: 10px;
  font-size: 16px;
}

h2 {
  text-align: center;
}
.history-table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

.history-table th,
.history-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.history-table th {
  background: #333;
  color: white;
}
.form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.form input,
.form select,
.form button {
  padding: 10px;
  font-size: 16px;
}

.history-table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

.history-table th,
.history-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.history-table th {
  background: #333;
  color: white;
}
.delete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  opacity: 0.85;
}